@{
    ViewData["Title"] = "Users";    
}
<h1>Reset Password Requests</h1>

<h2>@Model?.User.Email</h2>

<form class="row g-3 pb-3"  asp-action="ResetPassword" asp-controller="Users" method="post">
    <input type="hidden" name="Id" value="@Model?.User.Id" />
    <input type="hidden" name="Email" value="@Model?.User.Email" />
    <div class="col-auto">
        <button type="submit" class="btn btn-info">Nuevo</button>
    </div>
    <div class="col-auto">
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Users">Regresar</a>
    </div>
</form>

@if (Model?.Requests != null) {
<div class="row row-cols-1 row-cols-md-2 g-3">
    @foreach (var it in Model.Requests) {    
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Expira</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    @it.ExpiryDate
                </h6>                
                <dl class="row">
                    @{
                        var url = string.Format("{0}://{1}/Users/ChangePwd?id={2}",                
                            Context.Request.Scheme,
                            Context.Request.Host,
                            it.Id
                        );
                    }
                    <dt class="col-sm-6">Url</dt>
                    <dd class="col-sm-6">
                        <a href="javascript:void(0);" data-url="@url">@url</a>
                    </dd>
                </dl>
                
                <div class="row g-3">                                                   
                    <form class="col-auto" asp-action="DeleteResetPwd" asp-controller="Users" method="post">
                        <input type="hidden" name="Id" value="@it.Id" />
                        <input type="hidden" name="Email" value="@Model.User.Email" />
                        <button type="submit" class="btn btn-danger">Borrar</button>

                        <a class="btn btn-secondary" 
                            asp-action="Index"
                            asp-controller="Users">Regresar</a>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
    }
</div>
}

@section Scripts {
    <script type="text/javascript">

        // Listen to all clicks on the document
        document.addEventListener('click', function (event) {

            // If the event target doesn't match bail
            if (!event.target.hasAttribute('data-url')) return;

            navigator.clipboard.writeText(event.target.getAttribute('data-url'));
            alert("copiado");

        }, false);

    </script>   
}
